@model Practice10.Models.DataStorage
@using (Html.BeginForm("Insert","User",FormMethod.Post))
{
    <div style="margin-bottom:10px">
        @Html.LabelFor(m => m.name)
        <br />
        @Html.TextBoxFor(m => m.name, new { style = "width:300px; padding:5px" })
    </div>
   
    <div style="margin-bottom:10px">
        @Html.LabelFor(m => m.area)
        <br />
        @Html.TextBoxFor(m => m.area, new { style = "width:300px; padding:5px" })
    </div>
    <div style="margin-bottom:10px">
        @Html.LabelFor(m => m.salary)
        <br />
        @Html.TextBoxFor(m => m.salary, new { style = "width:300px; padding:5px" })
    </div>
    <button style="background-color:forestgreen; color:white">INSERT</button>
    <h2>@ViewBag.message</h2>
}



